* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: none; /* for Firefox */
  color: #0D1B2A;
}

html, body {
  margin: 0;
  height: 100%;
}

/* header */

header {
  width: 100%;
  min-height: 125px;
  height: fit-content;
  background-color: #778DA9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid black;
  grid-area: header;
  align-items: center;
}

#header-text {
  width: 100%;
  height: 100%;
  display: grid;
}

#header-text > p {
  align-self: center;
}

#title {
  width: 100%;
  height: 100%;
  display: grid;
}

#title #title-text {
  justify-self: end;
  display: grid;
  align-items: center;
  width: 400px;
  height: 100%;
}

#title-text h1, #title-text h2{
  height: 103px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0;
}

/* header end */

/* main */

main {
  height: calc(100%);
}

.main-block {
  display: grid;
  justify-content: stretch;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.main-block p {
  width: 100%;
  word-wrap: break-word;
}

.main-item-1 { 
  grid-area: menu;
  text-align: center;
  background-color: #f0d6b1;
  min-width: 250px;
  min-height: 638px;
}

.main-item-2 { 
  grid-area: main-title;
  background-color: #bef0b1;
  min-height: 81px;
}

.main-menu ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #415A77;
  height: 61px;
}

.main-menu li {
  float: left;
  width: calc(100% / 3);
  height: 100%;
}

.main-menu a {
  display: grid;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  height: 100%;
  justify-content: center;
  font-size: 1.2em;
}

.main-menu a span {
  align-self: center;
}

.main-menu a:hover {
  background-color: #39516b;
}

.main-item-3 {
  grid-area: right-bar;
  background-color: #f0d6b1;
  min-height: 719px;
  min-width: 250px;
}

.main-item-3 li {
  margin: 30px 0px 30px 0px;
}

/* ol {
  list-style-position: inside;
} */

ol li::marker {
  padding-inline: 30px;
}

.main-item-4 {
  grid-area: main-info;
  grid-template-rows: 1fr;
}

.main-item-4 .map-image {
  width: 500px;
  height: 290px;
  
}

.main-item-4 .default-image {
  width: 500px;
  height: 271px;
}

.main-item-5 {
  grid-area: smth;
  background-color: #bef0b1;
}

#grid-table {
  display: grid;
  grid-template-rows: max-content max-content 1fr 3fr 3fr 3fr 1fr max-content max-content;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header header header header header"
  "menu menu main-title main-title main-title right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "smth smth smth smth smth right-bar right-bar"
  "footer footer footer footer footer footer footer";
  min-height: 100%;
}

#grid-table > div {
  text-align: center;
  /* padding: 20px 0; */
  overflow-wrap: break-word;
  border: 2px solid black;
}

/* main end */

/* footer */

footer {
  width: 100%;
  min-height: 125px;
  height: fit-content;
  background-color: #778DA9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px 20px 10px 20px;
  border-top: 2px solid black; 
  grid-area: footer; 
}

/* footer end */
