* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: none; /* for Firefox */
  color: #0D1B2A;
}

html, body {
  margin: 0;
  height: 100%;
}

/* header */

header {
  width: 100%;
  height: 125px;
  background-color: #778DA9;
  display: flex;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid black;
}

#header-text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

#title {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#title #title-text {
  padding: 0px 5px 0px 5px;
  display: flex;
  align-items: center;
}

/* header end */

/* main */

main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 125px);
}

.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-item-1 { 
  grid-area: menu;
  text-align: center;
  background-color: #f0d6b1;
  min-width: 250px;
}

/* .main-item-1 li {
  margin: 30px 0px 30px 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #646262;
} */

.main-item-2 { 
  grid-area: main-title;
  background-color: #bef0b1;
}

.main-menu ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #415A77;
  height: 100%;
}

.main-menu li {
  float: left;
  width: calc(100% / 5);
  height: 100%;
}

.main-menu a {
  display: flex;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.main-menu a:hover {
  background-color: #39516b;
}

.main-item-3 {
  grid-area: right-bar;
  background-color: #f0d6b1;
  min-width: 250px;
}

.main-item-3 li {
  margin: 30px 0px 30px 0px;
}

.main-item-4 {
  grid-area: main-info;
}

.main-item-4 .map-image {
  width: 500px;
  height: 290px;
}

.main-item-4 .default-image {
  width: 500px;
  height: 271px;
}

.main-item-5 {
  grid-area: smth;
  background-color: #bef0b1;
}

#grid-table {
  display: grid;
  grid-template-rows: auto auto 450px auto auto;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
  "menu menu main-title main-title main-title right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "menu menu main-info main-info main-info right-bar right-bar"
  "smth smth smth smth smth right-bar right-bar";
  flex: 1 0 auto;
}

#grid-table > div {
  text-align: center;
  /* padding: 20px 0; */
  overflow-wrap: break-word;
  border: 2px solid black;
}

/* main end */

/* footer */

footer {
  width: 100%;
  height: 125px;
  flex: 0 0 auto;
  background-color: #778DA9;
  display: flex;
  padding: 10px 20px 10px 20px;
	justify-content: center;
  border-top: 2px solid black;  
}

/* footer end */
